@import url(normalize.css);
@import url(normalizePersonal.css);

body {
  background-color: #ebebeb;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
}

main {
  width: 100%;
  align-items: center;
}

main, section{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 90%;
  margin: 10px;
}

main, article{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border-top: 1px solid #ebebeb;
  padding: 5px;
  background-color: white;
  margin: auto;
  flex-direction: row;
  align-items: center;
}


.Box2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  position: relative;
  padding: 5px;
  margin: auto;
  width: 100%;
}

.precio {
  width: 30%;
}

.descuento {
  width: 70%;
  color: #39b54a;
}

main section article i {
  display: block;
  font-size: 16px;
  padding: 5px;
  width: 30px;
  height: 30px;
  border: 1px solid #39b54a;
  background-color: #FFF;
  border-radius: 50%;
  position: absolute;
  right: 20px;
  top: -15px;
  color: #39b54a;
}

.imgArticle {
  border-bottom: 1px solid #ebebeb;
  width: 100%;
  display: block;
}

.imgTop{
  width: 100%;
  display: block;
}


.logo {
  margin: auto;
  padding: 5px;
  width: 50%;
}

header {
  background-color: #EAC926;
  font-family: 'Roboto', sans-serif;
}

.encabezado {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: left;
  position: relative;
  padding: 20px;
}

form {
  color: #555;
  background-color: white;
  display: flex;
  padding: 15x;
  border: 1px solid white;
  border-radius: 5px;
  width: 50%;
  margin-top: 15px;
  margin-bottom: 15px;
}

input[type="search"] {
  border: none;
  background: transparent;
  margin: 0;
  padding: 7px 8px;
  font-size: 12px;
  color: inherit;
  width: 100%;
  border: 1px solid transparent;
  border-radius: inherit;
}

input[type="search"]::placeholder {
  color: #bbb;
}

button[type="submit"] {
  text-indent: -999px;
  overflow: hidden;
  width: 40px;
  padding: 0;
  margin: 0;
  border: 1px solid transparent;
  border-radius: inherit;
  background: transparent url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E") no-repeat center;
  cursor: pointer;
  opacity: 0.7;
}

button[type="submit"]:hover {
  opacity: 1;
}

button[type="submit"]:focus,
input[type="search"]:focus {
  box-shadow: 0 0 3px 0 #1183d6;
  border-color: #1183d6;
  outline: none;
}

ul {
  list-style-type: none;
}

.burger-menu {
  text-align: center;
  padding-bottom: 5%;
  color: white;
}

.buttonBurguer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  border: 1px solid #1259c3;
  ;
  background-color: #1259c3;
  ;
  color: white;
  border-radius: 10px;
  text-align: center;
  align-items: center;
  width: 10%;
  padding: 10px;
  margin: auto;
  margin-top: 15px;
}



header,
ul {
  font-size: 12px;
}



#cuotas {
  text-align: center;
}

.titular {
  text-align: center;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  margin: auto;
  padding: 10px;
}


.descripcion {
  font-size: 16px;
  color: #666;
  text-align: left;
  padding: 5px;
}

.descripcion:hover{
  display: none;
}
footer {
  text-align: center;
}

.copyright {
  text-align: left;
}

.tarjeta {
  color: blue;
  font-size: 2em;
  padding-bottom: 10px;
  text-align: center;
}

.seguridad {
  color: blue;
  font-size: 2em;
  padding-bottom: 10px;
  text-align: center;
}

.regalo {
  color: blue;
  font-size: 2em;
  padding-bottom: 10px;
  text-align: center;
}

@media (max-width: 361px) {
  .descripcion {
    display: none;
  }

  ul {
    display: none;
  }

  .two {
    display: none;
  }

  .three {
    display: none;
  }

  .four {
    display: none;
  }

}

@media (max-width: 769px) {
  .box {
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
  }

  .three {
    display: none;
  }

  .four {
    display: none;
  }

  .buttonBurguer {
    display: none;
  }

  .nave {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
  }

  .cuerpo {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    text-align: left;
    position: relative;
    width: 40%;
    padding: 0;
    margin: 0;
  }

  .login {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    text-align: right;
    position: relative;
    width: 40%;
    padding: 0;
    margin: 0;
  }

  main, section{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    width: 90%;
    margin: 10px;
  }
}


@media (min-width: 769px) {

  .box {
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
  }
  
  .buttonBurguer {
    display: none;
  }

  .encabezadoT {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    padding: 10px;
    align-items: center;
  }

  
  .nave {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
  }

  .cuerpo {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    text-align: left;
    position: relative;
    width: 40%;
    padding: 0;
    margin: 0;
  }

  .login {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    text-align: right;
    position: relative;
    width: 40%;
    padding: 0;
    margin: 0;
  }

}

/* register */

.registroForm{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 90%;
  margin: 10px;
  padding: 15px;
}

main, label{
  display: flex;
  padding: 15px;
}

.botones{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  flex-direction: row;
  align-items: center;
}

#enviar{
  font-size: 40px;
  color: green;
  width: 50%;
  align-items: right;
}

#borrar{
  font-size: 40px;
  color: red;
  width: 50%;
  align-items: left;
}