@import url(normalize.css);

body {
  background-color: #ebebeb;
  font-family: 'Roboto', sans-serif;
  text-align: left;
  font-size: 12px;
}
.logo{
  max-width: 50%;
  padding-left: 10%;
}

header {
  background-color: #EAC926;
  font-family: 'Roboto', sans-serif;
  text-align: left;
}

.topnav{
  text-align: left;
  font-size: 12px;
  padding-left: 0.5cm;
}

ul {
  list-style-type: none;
  padding-left: 0%;
}

.burger-menu{
  text-align: center;
  padding-bottom: 5%;
  color: white;
}

.buttonBurguer{
  background-color: blue;
  color: white;
  border-radius: 6px;
}

.cuerpo {
  font-size: 12px;
  text-align: left;
}

#cuotas {
  text-align: center;

}

.titular {
  font-size: 24px;
  text-align: left;
}

.precio {
  font-size: 18px;
  text-align: left;
}

.descuento {
  font-size: 16px;
  text-align: left;
}

.descripcion {
  font-size: 16px;
  text-align: left;
}

footer{
  text-align: center;
}

.copyright{
  text-align: left;
}

.tarjeta{
  color: blue;
  font-size: 2em;
  padding-bottom: 10px;
  text-align: center;
}

.seguridad{
  color: blue;
  font-size: 2em;
  padding-bottom: 10px;
  text-align: center;
}

.regalo{
  color: blue;
  font-size: 2em;
  padding-bottom: 10px;
  text-align: center;
}